packaging_format = 2

id = "komga"
name = "Komga"
description.en = "Media server for your comics, manga and magazines"
description.fr = "Serveur multimédia pour vos bandes dessinées, mangas et magazines"

version = "1.11.1~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "MIT"
website = "https://komga.org"
demo = "https://demo.komga.org"
admindoc = "https://komga.org/guides/"
code = "https://github.com/gotson/komga"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/komga"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/gotson/komga/releases/download/1.11.1/komga-1.11.1.jar"
        sha256 = "2fa7dd47c8fad31d982f94b983a4c73752cbf9dcba9331e28e3351e3b2aeca5a"
        extract = false
        rename = "komga.jar"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    pacakges = "openjdk-17-jre"